
html, body{
  display: flex;
  justify-content: center;
  margin: 0;
}

.body{
  
padding: 5em 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

ul{
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

h2{
  text-align: center;
  font-family: 'trebuchet ms';
  font-weight: 800;
}

p{
  font-family: 'Inconsolata';
  line-height: 1.3em;
}

img{
  padding: 15px;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
button, .submit{
  font-family: 'Franklin Gothic Medium';
  color: #5D2E46;
  background-color: #B58DB6;
  text-align: center;
  font-weight: 700;
  font-size: .8em;
  letter-spacing: .9px;
  margin: 20px auto;
  padding: 8px 10px;
  display: block;
  border-radius: 5px;
  width: 120px;
}

button:hover, .submit:hover{
  cursor: pointer;
  background-color: #AD6A6C;
  box-shadow: 1px 1px #000000;
}

/* HEADER */

.header{
  background-color: #5D2E46;
  margin: 0 auto;
  padding: 5px;
  position: fixed;
  width:100%;
  right:0px;
}

.header h1{
  color: #E8D6CB;
  font-family: 'Big Shoulders Inline Text';
  margin-left: 10px;
}

@media only screen and (min-width: 600px) {
  .header h1{
    margin-left: 45px;
  }
}

/* ABOUT */

.about, .cat, .dog{
  padding: 5px 10px;
  margin-top: 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  background-color: #f8edeb;
  border-radius: 15px;
}
@media only screen and (min-width: 600px) and (max-width: 1000px){
  .about{
    margin: 5px;
  }
  .about-sec{
    margin: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .about-sec{
    margin-bottom: 25px;
  }

  .about{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

/* HOME */
.home{
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.cat, .dog{
  margin: 0 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cat p, .dog p{
  margin-left: 15px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px){ 
  .home{
    display: block;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  }
  .pets{
    display: inline-flex;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 1000px) {

  img{
    width: 50%;
  }
  .pets{
    display: inline-flex;
    margin-bottom: 15px;
  }

  .cat p, .dog p{
    margin-left: 85px;
  }
}

/* FORM */
  
input[type=text], select, textarea{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.form{
  padding: 0;
  border-radius: 3px;
  margin-left: 25%;
  margin-right: 25%;
}

.form-row{
  padding: .5em;
  font-family: 'Inconsolata';
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
}

.form-row > input{
padding: .5em;
}